@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
.logo
{
    width: 125px;
    text-align: center;
    /* padding: 25px 15px; */
    /* border: 1px solid #cce7d0; */
    box-shadow: 20px 20px 34px rgba(222, 13, 13, 0.1);
    border-radius: 4px;
    /* margin: 15px 25px; */
    
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
    font-family: "Playpen Sans", cursive;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal
{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white
{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #000;
    background-color: transparent;
    cursor: pointer;
    border: 1px solidwhite;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}

/* header styling */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: rgb(249, 242, 243) ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

/* navbar styling */

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;

}

#navbar li a:hover ,
#navbar li a.active {
    color: #aa274e;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #af4363;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.cart-count {
    position: relative;
    top: -10;
    right: 7;
    background-color:#f6d4da;
    color: black;
    border-radius: 75%;
    padding: 0.2em 0.6em;
    font-size: 0.8em;
    font-weight: bold;
}


#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/* Home Page Styling */
#hero{
    background-image: url("/img/banner.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
    padding-top: 100px;
    font-family:"Playpen Sans", cursive;
}

#hero h1{
    color: #aa274e;
}

#hero button{
    background-image: url("/img/button.png");
    background-color: transparent;
    color: #aa274e;
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 15px;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 34px rgba(0, 0, 0,0.03);
    border-radius: 4px;
    margin: 15px 5px;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}

#feature .fe-box img
{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #aa274e;
    background-color: #fddde4;
}

#feature
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* changing colour from the second child */
#feature .fe-box:nth-child(2) h6
{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6
{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6
{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6
{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6
{
    background-color: #fff2e5;
}

#product1
{
    text-align: center;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #da93a8; 
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.05);
    margin: 15px 0;
    transition: 0.5s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.10);
}
#product1 .pro img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: center;
    padding: 10px;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 17px;
    
}
#product1 .pro .des h5{
    padding: 7px;
    color: #1a1a1a;
    font-size: 20px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgba(243,181,25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #aa274e;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #da93a8;
    font-weight: 500;
    color: #aa274e;
    border: 1px solid #da93a8;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
.pro:hover
{
    transform: translateY(-10px) rotateY(7deg); /* Move up and slight rotation */
    box-shadow: 0 20px 20px rgba(0.9, 0.9, 0.9, 0.9); /* Add a shadow for depth */
    z-index: 100;
}
button.add-to-cart{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color:#aa274e;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.add-to-cart:hover{
    background-color:#da93a8;
    
    cursor: pointer;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/img/banner4.avif");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: black;
    font-size: 16px;
}

#banner h2{
    color: black;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #aa274e;
}

#banner button:hover{
    background-color:#784d5a;
    color: #fff;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/img/banner3.avif");
    min-width: 650px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url("/img/banner6.jpeg");
}
#sm-banner h4{
    font-size:20px;
    font-weight: 300;
}

#sm-banner h2{
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background-color: #784d5a;
    border: 1px solid white;
    color: white;
}

#banner3
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url("/img/banner7.jpeg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 h2{
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    font-weight: 800;
    font-size: 15px;
}

#banner3 .banner-box2{
    background-image: url(/img/banner5.jpeg);
    color: rgb(210, 203, 203);
}
#banner3 .banner-box2 h2{
    color:  rgb(210, 203, 203);
}

#banner3 .banner-box3{
    background-image: url(/img/pngtree-taobao-jewelry-fresh-and-simple-gold-jewelry-poster-image_194638.jpg);
}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo
{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    margin-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}


footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor:pointer;
}


footer{
    background-color: rgb(249, 242, 243) ;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.06);
}


/*Shop page*/

#hero2{
    background-image: url(/img/banner.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 14px;
}


#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #aa274e;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

/* single product page */

#prodetails {
    display: flex;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    
}
#MainImg
{
    border: 3px solid #784d5a;
}

.single-pro-image {
    width: 50%;
    position: relative;
}

.single-pro-image img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid #784d5a;

}

.small-img-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.small-img-col {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.small-img-col img {
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.small-img-col img:hover {
    transform: scale(1.05);
}

.single-pro-details {
    width: 50%;
    padding: 20px;
}

.single-pro-details h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    background-image: url(/img/button.png);
    background-repeat: no-repeat;
    padding: 14px 80px 14px 65px;
    background-color: transparent;

}

.single-pro-details h4 {
    font-size: 2em;
    color:#aa274e;
    margin-bottom: 15px;
    margin-top: 20px;
    padding: 5px;
    margin-left: 25px;

}

.single-pro-details h2 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
    padding-left: 35px;
}

.single-pro-details input {
    width: 80px;
    height: 45px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    transition: border-color 0.3s ease;
}

.single-pro-details input:focus {
    border-color:#aa274e;
    outline: none;
}

.single-pro-details button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color:#aa274e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.single-pro-details button:hover {
    background-color: #d81b60;
}

.single-pro-details span {
    display: block;
    font-size: 1em;
    color: #777;
    margin-top: 20px;
}


/* cart page */

#cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color:rgb(249, 242, 243);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#cart-container h2{
    background-image: url("/img/button.png");
    background-color: transparent;
    color: #aa274e;
    border: 0;
    padding: 10px 30px 10px 50px;
    background-repeat: no-repeat;
    background-size: 300px;
    font-weight: 700;
   
}

#cart-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

#cart-table th, 
#cart-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

#cart-table th {
    background-color:#7e5a65;
    font-weight: bold;
}

#cart-table td img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}



#cart-table td button.remove-btn {
    background-color:#aa274e;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#cart-table td button.remove-btn:hover {
    background-color: #ac3458dd;
}

/* Cart Summary Styles */
#cart-summary {
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#cart-summary h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

#checkout-btn {
    padding: 10px 20px;
    background-color: #aa274e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#checkout-btn:hover {
    background-color:#ac3458dd;
}

/* Modal container - hidden by default */
.modal {
    color: white;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

/* Modal content */
.modal-content {
    background-color: #6f5b61;
    color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
#confirmation-message
{
    color: white;
}

/* Close button (X) */
.close-btn {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#close-modal-btn {
    background-color:#aa274e;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

#close-modal-btn:hover {
    background-color:#ac3458dd;
}


/* contact page */
.contact-page {
    position: relative;
    z-index: 0; /* Background should be behind everything */
}

.contact-page::before {
    content: "";
    background: url('/img/banner.jpg') no-repeat center center fixed; /* Change the path */
    background-size: cover; /* Cover entire viewport */
    filter: blur(5px); /* Adjust the blur intensity */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

 
.container
{
    position: relative;
    width: 850px;
    height: 500px;
    background-color:#fff ;
    box-shadow: 25px 30px 55px #5557;
    border-radius: 13px;
    overflow: hidden;
    margin-top: 35px;
    margin-left: 320px;
    z-index: 1;
    
}

.form-container
{
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
}

.sign-up-container{
    opacity: 0;
    z-index: 1;
}
.sign-in-container
{
    z-index: 2;
}

form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

h1{
    color:#aa274e;
}

.social-container
{
    margin: 20px 0px;
}
.social-container a{
    border: 1px solid #784d5a;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    height: 40px;
    width: 40px;
}

span{
    font-size: 12px;
}
.infield
{
    position: relative;
    margin: 8px 0px;
    width: 100%;
}

input
{
    width: 100%;
    padding: 12px 8px;
    background-color: #e4c6cf;
    border: none;
    outline: none;
}

label
{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background:#af4363;
    transition: 0.3s;
}
input:focus ~ label{
    width: 100%;
}
a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0px;
}

a.forgot
{
    padding-bottom: 3px;
    border-bottom: 2px solid #aa274e;
}

button{
    border-radius: 20px;
    border: 1px solid #aa274e;
    background: var(--grad-clr2);
    color: #aa274e;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form-container button{
    margin-top: 17px;
    transition: 80ms ease-in;
}
.form-container button:hover{
    background: #a87081;
    color: #fff;
}

.overlay-container
{
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
}

#overlayBtn
{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 345px;
    transform: translateX(-50%);
    width: 143.67px;
    height: 40px;
    border: 1px solid #aa274e;
    background: transparent;
    border-radius: 20px;
}

.overlay
{
    position: absolute;
    background: #d18da1;
    color: #aa274e;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}

.overlay-panel
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: 0.6s ease-in-out;
}

.overlay-left
{
    right: 60%;
    transform: translateX(-12%);
}
.overlay-right
{
    right: 0;
    transform: translateX(0%);
}

.overlay-panel h1{
    color: #fff;
}

.overlay-panel p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 25px 0px 35px;
    color: #fff;
}

.overlay-panel button{
    border: none;
    background-color: transparent;
}

.right-panel-active .overlay-container{
    transform: translateX(-150%);
}

.right-panel-active .overlay{
    transform: translateX(50%);
}

.right-panel-active .overlay-left{
    transform: translateX(25%);
}

.right-panel-active .overlay-right{
    transform: translateX(35%);
}

.right-panel-active .sign-in-container{
    transform: translateX(20%);
    opacity: 0;
}

.right-panel-active .sign-up-container{
    transform: translateX(66.7%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 50%
    {
        opacity: 0;
        z-index: 1;
    }
    50.1%, 100%
    {
        opacity: 1;
        z-index: 5;
    }
}
.btnScaled
{
    animation: scaleBtn 0.6s;
}

@keyframes scaleBtn {
    0%
    {
        width: 143.67px;
    }
    50%
    {
        width: 250px;
    }
    100%
    {
        width: 143.67px;
    }

    
}




/* media query for responsiveness */

/* for Tablet screen */
@media (max-width: 799px) {
    .section-p1{
        padding: 40px 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color:  rgb(249, 242, 243);
        box-shadow: 0 40px 60px rgba(0 , 0 , 0 , 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        text-align: center;
    }

    #mobile i {
        color: #af4363;
        font-size: 24px;
        padding-right: 20px;
    }

    #close{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #af4363;
        font-size: 24px;
    }

    #lg-bag{
        display: none;
    }
    #close{
        display: initial;
    }

    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature{
        justify-content: center;
    }

    #feature .fe-box{
        margin: 15px 15px;
    }

    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro{
        margin: 15px;

    }

    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
        margin-top: 20px;
    }

    #banner3{
        padding: 0 40px;
    }

    #banner3 .banner-box{
        width: 28%;
    }

    /* single product */
    #prodetails .single-pro-details h2
    {
        padding-left: 0;
    }

    /* contact page */
    

    

    /* cart page */
    #cart-container {
        padding: 10px;
        margin: 10px;
    }

    #cart-container h2 {
        font-size: 24px; /* Adjusted font size */
        padding: 8px 20px; /* Adjusted padding */
    }

    #cart-table {
        width: 100%;
        font-size: 14px; /* Smaller font size */
    }

    #cart-table th, 
    #cart-table td {
        padding: 10px; /* Reduced padding */
    }

    #cart-summary {
        padding: 15px;
    }

    #cart-summary h3 {
        font-size: 20px; /* Adjusted font size */
    }

    #checkout-btn {
        width: 100%; /* Full width button */
        padding: 12px 0; /* Adjusted padding */
    }

    .modal-content {
        width: 90%; /* Responsive modal width */
    }

    #close-modal-btn {
        width: 100%; /* Full width button */
        padding: 10px 0; /* Adjusted padding */
    }
    
}

/* for phone screen */
@media( max-width: 477px)
{
    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
    }

    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }

    #hero{
        padding: 0 20px;
        background-position: 55%;
    }

    #feature{
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro{
        width: 100%;
    }

    #banner3{
        padding: 0 20px;
    }

    #banner3 .banner-box{
        width: 100%;
    }

    /* single product */

    #prodetails{
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image
    {
        width: 100%;
        margin-right: 0px;
    }

    
    #prodetails .single-pro-details
    {
        width: 100%;
    }

    
    #prodetails .single-pro-details h2
    {
        padding-left: 0;
    }

    /* contact page */

    /*cart page*/
    #cart-container {
        padding: 5px;
    }

    #cart-table {
        font-size: 12px; /* Further reduced font size */
    }

    #cart-table th, 
    #cart-table td {
        padding: 4px; /* Reduced padding */
    }

    #cart-summary h3 {
        font-size: 18px; /* Smaller font size */
    }

    #checkout-btn {
        padding: 10px 0; /* Adjusted padding */
    }
    
}
